In [2]:
import os
import pandas as pd

In [3]:
MI_F_dir = 'D:/mimiciv_data/mimic-iv-clinical_note/1.0/preprocessed/MI_F_clinical.csv'
MI_F_df = pd.read_csv(MI_F_dir)
MI_M_dir = 'D:/mimiciv_data/mimic-iv-clinical_note/1.0/preprocessed/MI_M_clinical.csv'
MI_M_df = pd.read_csv(MI_M_dir)
NOT_MI_F_dir = 'D:/mimiciv_data/mimic-iv-clinical_note/1.0/preprocessed/NOT_MI_F_clinical.csv'
NOT_MI_F_df = pd.read_csv(NOT_MI_F_dir)
NOT_MI_M_dir = 'D:/mimiciv_data/mimic-iv-clinical_note/1.0/preprocessed/NOT_MI_M_clinical.csv'
NOT_MI_M_df = pd.read_csv(NOT_MI_M_dir)

In [4]:
MI_F_df['class'] = 1
MI_M_df['class'] = 1
NOT_MI_F_df['class'] = 0
NOT_MI_M_df['class'] = 0

In [5]:
ctn_mean_MI_F = MI_F_df['ctn_value'].mean().round(2)
MI_F_df['ctn_value'].fillna(ctn_mean_MI_F, inplace=True)
ctn_mean_MI_M = MI_M_df['ctn_value'].mean().round(2)
MI_M_df['ctn_value'].fillna(ctn_mean_MI_M, inplace=True)
ctn_mean_NOT_MI_F = NOT_MI_F_df['ctn_value'].mean().round(2)
NOT_MI_F_df['ctn_value'].fillna(ctn_mean_NOT_MI_F, inplace=True)
ctn_mean_NOT_MI_M = NOT_MI_M_df['ctn_value'].mean().round(2)
NOT_MI_M_df['ctn_value'].fillna(ctn_mean_NOT_MI_M, inplace=True)

C:\Users\yumi\AppData\Local\Temp\ipykernel_23336\1672244196.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  MI_F_df['ctn_value'].fillna(ctn_mean_MI_F, inplace=True)
C:\Users\yumi\AppData\Local\Temp\ipykernel_23336\1672244196.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  MI_M_df['ctn_value'].fillna(ctn_mean_MI_M, inplace=True)
C:\Users\yumi\AppData\Local\Temp\ipykernel_23336\1672244196.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  NOT_MI_F_df['ctn_value'].fillna(ctn_mean_NOT_MI_F, inplace=True)
C:\Users\yumi\AppData\Local\Temp\ipykernel_23336\1672244196.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  NOT_MI_M_df['ctn_value'].fillna(ctn_mean_NOT_MI_M, inplace=True)

In [6]:
print(MI_F_df)
print(MI_M_df)
print(NOT_MI_F_df)
print(NOT_MI_M_df)

      subject_id  ecg_study_id  echo_study_id gender  ctn_value  class
0       10020306      40865599       93489296      F       0.04      1
1       10020306      40865599       93489296      F       0.05      1
2       10020306      40865599       93489296      F       0.05      1
3       10040025      40178612       90761569      F       0.02      1
4       10040025      40178612       90761569      F       0.01      1
...          ...           ...            ...    ...        ...    ...
3176    19883311      40540266       90881874      F       0.22      1
3177    19883311      40540266       90881874      F       0.28      1
3178    19883311      40540266       90881874      F       0.27      1
3179    19943755      40403869       98808161      F       0.42      1
3180    19963038      40081999       90276609      F       0.42      1

[3181 rows x 6 columns]
      subject_id  ecg_study_id  echo_study_id gender  ctn_value  class
0       10012438      41909781       97555635      M       0.48      1
1       10052047      40989586       90428410      M       0.01      1
2       10102878      40676354       99452021      M       1.84      1
3       10102878      40676354       99452021      M       2.88      1
4       10102878      40676354       99452021      M       2.46      1
...          ...           ...            ...    ...        ...    ...
4802    19982989      40345926       94089689      M       0.06      1
4803    19982989      40345926       94089689      M       0.17      1
4804    19982989      40345926       94089689      M       0.24      1
4805    19982989      40345926       94089689      M       0.32      1
4806    19986589      40021058       96993263      M       0.48      1

[4807 rows x 6 columns]
      subject_id  ecg_study_id  echo_study_id gender  ctn_value  class
0       10025747      40862377       99614245      F       0.32      0
1       10119094      40562781       98470337      F       0.32      0
2       10165902      44605750       99011665      F       0.04      0
3       10165902      44605750       99011665      F       0.03      0
4       10175407      41935164       97407465      F       0.32      0
...          ...           ...            ...    ...        ...    ...
1317    19907884      40258425       90845488      F       0.32      0
1318    19973580      41536358       90138490      F       0.11      0
1319    19973580      41536358       90138490      F       0.06      0
1320    19973580      41536358       90138490      F       0.02      0
1321    19973580      41536358       90138490      F       0.02      0

[1322 rows x 6 columns]
      subject_id  ecg_study_id  echo_study_id gender  ctn_value  class
0       10002430      40131334       92290733      M       0.03      0
1       10002430      40131334       92290733      M       0.03      0
2       10002430      40131334       92290733      M       0.02      0
3       10002430      40131334       92290733      M       0.02      0
4       10002430      40131334       92290733      M       0.03      0
...          ...           ...            ...    ...        ...    ...
2241    19933276      40719301       93012786      M       0.07      0
2242    19933276      40719301       93012786      M       0.02      0
2243    19933276      40719301       93012786      M       0.02      0
2244    19957636      40433995       90969115      M       0.93      0
2245    19957636      40433995       90969115      M       0.82      0

[2246 rows x 6 columns]

In [7]:
MI_F_df_count = MI_F_df['subject_id'].nunique()
MI_M_df_count = MI_M_df['subject_id'].nunique()
NOT_MI_F_df_count = NOT_MI_F_df['subject_id'].nunique()
NOT_MI_M_df_count = NOT_MI_M_df['subject_id'].nunique()

print(MI_F_df_count)
print(MI_M_df_count)
print(NOT_MI_F_df_count)
print(NOT_MI_M_df_count)

353
518
353
518

In [8]:
# df = pd.concat([MI_F_df, MI_M_df, NOT_MI_F_df, NOT_MI_M_df], ignore_index=True)

# print(df)

In [9]:
# df_count = df['subject_id'].nunique()
# print(df_count)

In [10]:
# 각 subject_id별로 ctn_value의 개수를 계산
ctn_count_per_subject = MI_F_df.groupby('subject_id')['ctn_value'].count()

# 최대 ctn_value 개수 찾기
max_ctn_count = ctn_count_per_subject.max()

print(f"하나의 subject_id당 최대 ctn_value의 개수: {max_ctn_count}")

하나의 subject_id당 최대 ctn_value의 개수: 87