In [2]:
import pandas as pd

### 우선 psql로 데이터 어쩌구 저쩌구 노션 들어가지면 정리예정

In [4]:
mi_list = pd.read_csv('mi_list.csv')
record_list = pd.read_csv('record_list.csv')

matching_records = record_list[record_list['subject_id'].isin(mi_list['subject_id'])]
matching_records_first_version = matching_records.drop_duplicates(subset='subject_id', keep='first')

print(matching_records_first_version)

matching_records_first_version.to_csv('matching_records_first.csv', index=False)

        subject_id  study_id  file_name             ecg_time  \
14        10000764  47218930   47218930  2132-10-14 19:40:00
33        10000980  40742173   40742173  2186-06-09 15:18:00
66        10001176  40925049   40925049  2186-11-28 23:16:00
92        10001843  44881309   44881309  2131-11-09 13:20:00
98        10001877  40056908   40056908  2149-05-21 11:32:00
...            ...       ...        ...                  ...
799735    19996783  42101128   42101128  2188-03-05 15:18:00
799784    19997367  40065685   40065685  2122-02-18 10:25:00
799820    19997448  41785314   41785314  2116-09-19 15:25:00
799838    19997473  46163394   46163394  2173-09-10 20:44:00
799927    19998497  43989302   43989302  2139-07-01 10:58:00

                                            path
14      files/p1000/p10000764/s47218930/47218930
33      files/p1000/p10000980/s40742173/40742173
66      files/p1000/p10001176/s40925049/40925049
92      files/p1000/p10001843/s44881309/44881309
98      files/p1000/p10001877/s40056908/40056908
...                                          ...
799735  files/p1999/p19996783/s42101128/42101128
799784  files/p1999/p19997367/s40065685/40065685
799820  files/p1999/p19997448/s41785314/41785314
799838  files/p1999/p19997473/s46163394/46163394
799927  files/p1999/p19998497/s43989302/43989302

[14021 rows x 5 columns]

In [8]:
daa = pd.read_csv('matching_records_first.csv')
daa

,subject_id,study_id,file_name,ecg_time,path
0,10000764,47218930,47218930,2132-10-14 19:40:00,files/p1000/p10000764/s47218930/47218930
1,10000980,40742173,40742173,2186-06-09 15:18:00,files/p1000/p10000980/s40742173/40742173
2,10001176,40925049,40925049,2186-11-28 23:16:00,files/p1000/p10001176/s40925049/40925049
3,10001843,44881309,44881309,2131-11-09 13:20:00,files/p1000/p10001843/s44881309/44881309
4,10001877,40056908,40056908,2149-05-21 11:32:00,files/p1000/p10001877/s40056908/40056908
...,...,...,...,...,...
14016,19996783,42101128,42101128,2188-03-05 15:18:00,files/p1999/p19996783/s42101128/42101128
14017,19997367,40065685,40065685,2122-02-18 10:25:00,files/p1999/p19997367/s40065685/40065685
14018,19997448,41785314,41785314,2116-09-19 15:25:00,files/p1999/p19997448/s41785314/41785314
14019,19997473,46163394,46163394,2173-09-10 20:44:00,files/p1999/p19997473/s46163394/46163394
14020,19998497,43989302,43989302,2139-07-01 10:58:00,files/p1999/p19998497/s43989302/43989302

### 이제 echo data와 연결

In [11]:
echo_list = pd.read_csv('echo-study-list.csv')
final_matching_records = echo_list[echo_list['subject_id'].isin(matching_records_first_version['subject_id'])]

print(final_matching_records)
final_matching_records.to_csv('final_matching_records.csv', index=False)

      subject_id  study_id       study_datetime note_id  note_seq  \
8       10012438  97555635  2178-06-08 07:24:15     NaN       NaN
10      10020306  93489296  2134-09-12 13:10:49     NaN       NaN
11      10020306  95253372  2135-01-22 10:35:53     NaN       NaN
12      10020306  97273331  2133-09-05 14:25:32     NaN       NaN
13      10020306  99583722  2135-04-23 14:21:34     NaN       NaN
...          ...       ...                  ...     ...       ...
7230    19981210  98151497  2153-08-31 12:37:09     NaN       NaN
7231    19981210  99960069  2152-06-04 11:19:50     NaN       NaN
7232    19982989  94089689  2151-01-18 13:26:57     NaN       NaN
7233    19982989  99320068  2150-12-18 11:36:58     NaN       NaN
7235    19986589  96993263  2192-01-26 14:34:10     NaN       NaN

     note_charttime
8               NaN
10              NaN
11              NaN
12              NaN
13              NaN
...             ...
7230            NaN
7231            NaN
7232            NaN
7233            NaN
7235            NaN

[1730 rows x 6 columns]